.loading {
  // typography
  font-size: 1.5rem;
  text-align: center;

  &::after {
    content: '🌀';

    // box model
    display: inline-block;
    margin-left: 0.5rem;

    // visual
    animation: spin 2s linear infinite;
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
