.results {
  // box model
  padding: 1rem;
  flex-grow: 1;

  // visual
  background-color: rgb(var(--color-black-rgb) / 0.1);
}

.nothing {
  // typography
  text-align: center;
}

.cards {
  // box model
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}
