.results {
  // box model
  margin-top: 1rem;
}

.nothing {
  // typography
  text-align: center;
}

.cards {
  // box model
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}
